<div class="col-md-12">
    <h2>Word Repeat Counter</h2>
    <form action="/search_word" method="get">
        <div class="form-group">
            <label for="input-word">Enter a word to search for:</label>
            <input id="input-word" name="input-word" class="form-control" type="text" placeholder="Enter word" required>
        </div>
        <div class="form-group">
            <label for="input-sentence">Enter a sentence or string of words to search through:</label>
            <input id="input-sentence" name="input-sentence" class="form-control" type="text" placeholder="Enter sentence" required>
        </div>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
</div>
