<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        <div class="container">
            <h2 id="result-header">Search Result</h2>
            <p id="search-word">Search Word:</p>
            <p class="p-text">{{ word_searched }}</p>
            <p id="search-sentence">Sentence/Words:</p>
            <p class="p-text">{{ sentence_searched }}</p>
            <p id="count">Count is equal to {{ word_count }}</p>

            <form action="/">
                <button type="submit" class="btn btn-default">Go Back</button>
            </form>

        </div>
    </body>
</html>
