<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        <div class="container">
            <h2>Search Result for <strong>{{ word_searched }}</strong></h2>
            <h3>The word "{{ word_searched }}" is repeated {{ word_count }} times in "{{ sentence_searched }}".</h3>

            <form action="/">
                <button type="submit" class="btn btn-success">Go Back</button>
            </form>

        </div>
    </body>
</html>
